<!DOCTYPE html>
<html>
<head>
	<!-- template usage example -->
	{{template "head" .}}
</head>
<body>
	<!-- controller functions examples -->
	<p>Upendo!</p>
	<p>{{.FunctionWithoutParams}}</p>
	<p>{{.WithParams "string param" 123}}</p>

	<!-- controller - map value -->
	<p>Value from controller using key: "{{.mapKey}}"</p>

	<!-- embeded functions example -->
	<p>{{echo "static function call example! can be registered in controllers init"}}</p>

	<!-- standard Go template package functionality -->
{{if .mapKey}}
	<p>Standard Go template functionality also works!</p>
{{end}}

	<!-- calling other path registered for the same controller and the same function - see ExampleController init function -->
	<a href="/123id">Click me!</a>

	<!-- keyFromPath takes value from path as defined in ExampleController init function -->
{{if .keyFromPath}}
	<p>Part of path: {{echo .keyFromPath}}</p>
{{end}}
	
	<!-- templates, yay! -->
	<p>Hint: see source! head contents added from template!</p>
	<p><img src="/res/kittykiss.gif"></p>
</div>
</body>
</html>
